# Ignore media content
media\*\*.jpg
media\*\*.png
media\*\*.mp3
media\*\*.mp4
media\*\*.wav
media\*\*.jpeg
media\*\*.gif

# Keep .gitkeep placeholders
!media\*\.gitkeep

# Python ignores
__pycache__/
*.pyc
